@import '../shared/variables.scss';

.container {
  min-height: 100vh;
  min-width: 100vw;
  background: #1b1b1b;
  color: $primary-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  animation: show-in 2000ms forwards;

  .loader {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      background: $white-color;
      width: 16px;
      height: 32px;
      margin-left: 10px;

      animation: loader 1200ms infinite;
    }

    div:nth-child(1) {
      background: $primary-color;
      animation-delay: -0.40s;
    }
    div:nth-child(2) {
      background: $primary-color;
      animation-delay: -0.20s;
    }
    div:nth-child(3) {
      background: $primary-color;
      animation-delay: 0s;
    }
  }
}

.show-in {
  animation: show-in 300ms ease-in;
}

.show-off {
  animation: show-off 200ms ease-out forwards;
}

@keyframes show-in {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes show-off {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes loader {
  50% {
    height: 64px;
  }
}
