<div class="container">
  <div class="regular">
    <h1 class="page-title neon">
      Skills
    </h1>

    <div class="regular-main">
      <div class="left">
        <div class="skill-data">
          <span>HTML5</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="html"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>CSS3</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="css"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>SASS</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="sass"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>JavaScript</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="js"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>TypeScript</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="ts"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>ReactJS & React Native</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="rjs"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>Angular</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="an"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>NodeJS</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="njs"></div>
          </div>
        </div>
        <div class="skill-data">
          <span>MySQL & MongoDB</span>
          <div class="skill-bar-box">
            <div class="skill-bar" bar="mysql"></div>
          </div>
        </div>
      </div>
      <div class="right">
        <img src="../../../assets/svg/skills.svg" alt="skills" class="mate-img">
      </div>
    </div>
  </div>






  <!-- <div class="regular">
    <section
      class="skills-sec"
      [ngClass]="{'skills-sec-expanded' : languagesDetails === 'expanded', 'skills-sec-hidden' : languagesDetails === 'hidden', 'skills-sec-standard' : languagesDetails === 'standard'}"
      (click)="setLanguagesDetails()"
    >
      <h2>Languages</h2>

      <span>Expand Details</span>
      <i class="fa fas fa-chevron-down icon"></i>

      <div class="sk-content">
        <h3>
          - JavaScript: <br/>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error eveniet, fuga iste reprehenderit sunt laudantium quis est eos aliquam natus odio tempora impedit illo? Repellendus et laudantium ea quis voluptatem.
          </p>
        </h3>
        <h3>
          - TypeScript: <br/>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error eveniet, fuga iste reprehenderit sunt laudantium quis est eos aliquam natus odio tempora impedit illo? Repellendus et laudantium ea quis voluptatem.
          </p>
        </h3>
      </div>
    </section>
    <section
      class="skills-sec"
      [ngClass]="{'skills-sec-hidden' : frameworkDetails === 'hidden', 'skills-sec-standard' : backendDetails === 'standard'}"
    >
      <h2>Frameworks</h2>

      <span>Expand Details</span>
      <i class="fa fas fa-chevron-down icon"></i>

      <div class="sk-content">
        <h1>internal content</h1>
      </div>
    </section>
    <section
      class="skills-sec"
      [ngClass]="{'skills-sec-hidden' : backendDetails=== 'hidden', 'skills-sec-standard' : backendDetails === 'standard'}"
    >
      <h2>Backend</h2>

      <span>Expand Details</span>
      <i class="fa fas fa-chevron-down icon"></i>

      <div class="sk-content">
        <h1>internal content</h1>
      </div>
    </section>
    <section
      class="skills-sec"
      [ngClass]="{'skills-sec-hidden' : databaseDetails === 'hidden', 'skills-sec-standard' : databaseDetails === 'standard'}"
    >
      <h2>Database</h2>

      <span>Expand Details</span>
      <i class="fa fas fa-chevron-down icon"></i>

      <div class="sk-content">
        <h1>internal content</h1>
      </div>
    </section> -->

    <!-- <main class="details-expanded" *ngIf="currentDetails !== 'none'">
      <div class="de-group de-languages" *ngIf="currentDetails === 'languages'">
        <h1>Languages</h1>

        <div class="skill-cards">
          <div class="skill-card">
            <h2>Javascript</h2>

            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, impedit magni! Vitae illo error delectus nisi eaque praesentium unde beatae soluta, modi earum iste magni, commodi magnam minima! Reprehenderit, tempore.</span>
          </div>
          <div class="skill-card">
            <h2>Typescript</h2>

            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, impedit magni! Vitae illo error delectus nisi eaque praesentium unde beatae soluta, modi earum iste magni, commodi magnam minima! Reprehenderit, tempore.</span>
          </div>
        </div>
      </div>
      <div class="de-group de-frameworks" *ngIf="currentDetails === 'frameworks'">frameworks</div>
      <div class="de-group de-backend" *ngIf="currentDetails === 'backend'">backend</div>
      <div class="de-group de-database" *ngIf="currentDetails === 'database'">database</div>
    </main> -->
  <!-- </div> -->
</div>
