.slider-wrapper {
  color: #fff;
  // background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;
  height: 450px;
}

.keen-slider {
  display: flex;
  // justify-content: center;
  // align-items: center;
  width: calc(100vw - 30px);

  // width: 100%;
  // height: 450px;
  // height: 70vw;
  height: 100%;
  // background: green !important;
}

.slide {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
  position: relative;
  font-size: 24px;
}

@media (min-width: 720px) {
  .keen-slider {
    width: 100%;

    height: 100%;
  }
}
