<div class="container">
  <div class="regular">
    <h1 class="page-title neon">
      About & <br/> Experience
    </h1>

    <div class="regular-main">
      <section class="left">
        <h3>
          I am a <span class="neon">Fullstack Developer</span>, working with <span class="neon">NodeJS</span> on Backend, but my preference is with <span class="neon">ReactJS</span>, <span class="neon">React Native</span> and <span class="neon">Angular</span> on Frontend.
        </h3>
        <br/>
        <h3>
          I am 16 years old, I started study <span class="neon">JavaScript</span> in 2019. I built some personal projects to practice my knowledge, worked as Freelancer and I am always looking to reach the next level!
        </h3>
        <br/>
        <h3>
          In addition to others, programming is my favorite hobby. I already took a course in <span class="neon">Graphic Design</span> and for that reason I like to work with Frontend.
        </h3>
      </section>
      <section class="right">
        <img src="../../../assets/svg/presentation.svg" alt="presentation" class="mate-img">
      </section>
    </div>

  </div>


</div>
