<div class="container-app">
  <aside>
    <div routerLink="/home" routerLinkActive="route-active" class="option">
      <i class="fa fa-home icon" id="home-icon"></i>
      <label>Home</label>
    </div>
    <div routerLink="/about" routerLinkActive="route-active" class="option">
      <i class="fa fa-user icon" id="about-icon"></i>
      <label>About</label>
    </div>
    <div routerLink="/skills" routerLinkActive="route-active" class="option">
      <i class="fa fa-signal icon" id="skills-icon"></i>
      <label>Skills</label>
    </div>
    <div routerLink="/projects" routerLinkActive="route-active" class="option">
      <i class="fa fa-briefcase icon" id="my-work-icon"></i>
      <label>My Work</label>
    </div>
    <div routerLink="/contact" routerLinkActive="route-active" class="option">
      <i class="fa fa-envelope icon" id="contact-icon"></i>
      <label>Contact</label>
    </div>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
  <div class="bs-container bsc1">
    <div class="b-square"><img src="../assets/img/ts-logo.png"></div>
    <div class="b-square"><img src="../assets/img/njs-logo.png"></div>
    <div class="b-square"><img src="../assets/img/js-logo.png"></div>
    <div class="b-square"></div>
    <div class="b-square"></div>
    <div class="b-square"></div>
  </div>
  <div class="bs-container bsc2">
    <div class="b-square"><img src="../assets/img/a-logo.png"></div>
    <div class="b-square"><img src="../assets/img/rjs-logo.png"></div>
    <div class="b-square"></div>
    <div class="b-square"></div>
  </div>
</div>
