/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arkhip", "Poppins", sans-serif;
}

html,
body {
  // background-color: #1f242d;
}

body {
  background: linear-gradient(-45deg, #1e2125, #1f242d, #171b20, #13161f);
  background-size: 200% 200%;
  animation: change-bg-color 20s ease-in-out infinite;
  color: #fff;
}

a {
  text-decoration: none;
}

// Style to Mobile
@media (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px 64px;
  }

  .regular {
    .regular-main {
      display: flex;
      flex-direction: column;
    }
  }

  .right {
    .mate-img {
      width: 325px;
    }
  }

  .page-title {
    margin-bottom: 32px;
  }
}

// Style to Desktop
@media (min-width: 720px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 32px 64px;
    // background: yellow;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: red;
  width: 100%;
  height: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  // background: green;
  width: 100%;
  height: 100%;
  position: relative;

  .mate-img {
    animation: mate-img 0.8s forwards ease-out 0.3s;
    opacity: 0;
    user-select: none;
  }
}

.neon {
  filter: blur(0.6px);
  text-transform: initial;
  text-shadow: 0 0 1px $primary-color, 0 0 2px $primary-color,
    0 0 4px $primary-color, 0 0 8px $primary-color, 0 0 16px $primary-color;
  position: relative;
}

.button {
  margin-top: 32px;
  background: none;
  border: 2px solid $primary-color;
  color: $white-color;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;

  padding: 12px 24px;
  cursor: pointer;
  user-select: none;
  transition: 100ms;
}
.button:hover {
  background: $primary-color;
}

.regular {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .regular-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    // background: red;
  }
}

.page-title {
  font-size: 48px;
  letter-spacing: 2px;
  color: #fff;
  animation: page-title 0.8s forwards ease-out;
}

@keyframes page-title {
  from {
    position: absolute;
    top: -64px;
    left: 32px;
    opacity: 0;
  }
  to {
    top: 0;
    left: 32px;
    opacity: 1;
    position: relative;
  }
}

@keyframes mate-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes change-bg-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes home-fade-in {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }
  to {
    opacity: 1;
  }
}

@keyframes btn-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
